/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.plau-logo {
  width: 90%;
  max-width: 750px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20; }

*[data-fallback] img {
  max-width: 100%;
  display: block;
  -webkit-animation-name: slowFade;
  -moz-animation-name: slowFade;
  -ms-animation-name: slowFade;
  -o-animation-name: slowFade;
  animation-name: slowFade;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  -ms-animation-duration: 350ms;
  -o-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.top-title {
  max-width: 400px;
  width: 90%;
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20; }

html, body {
  height: 100%;
  position: relative;
  overflow: hidden; }

.background {
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  min-width: 100%;
  min-height: 100%;
  height: auto;
  opacity: 0; }

.social-sharing-links {
  position: absolute;
  left: 5%;
  bottom: 5%;
  z-index: 20; }
  .social-sharing-links li {
    display: inline-block;
    float: left;
    margin-right: 10px;
    width: 45px;
    opacity: 0; }
  .social-sharing-links li img {
    display: block;
    width: 100%; }

body.finished .social-sharing-links li {
  -webkit-animation-name: slowFade;
  -moz-animation-name: slowFade;
  -ms-animation-name: slowFade;
  -o-animation-name: slowFade;
  animation-name: slowFade;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 350ms;
  -moz-animation-duration: 350ms;
  -ms-animation-duration: 350ms;
  -o-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
  body.finished .social-sharing-links li:nth-child(1) {
    -webkit-animation-delay: 200ms;
    -moz-animation-delay: 200ms;
    -ms-animation-delay: 200ms;
    -o-animation-delay: 200ms;
    animation-delay: 200ms; }
  body.finished .social-sharing-links li:nth-child(2) {
    -webkit-animation-delay: 400ms;
    -moz-animation-delay: 400ms;
    -ms-animation-delay: 400ms;
    -o-animation-delay: 400ms;
    animation-delay: 400ms; }
  body.finished .social-sharing-links li:nth-child(3) {
    -webkit-animation-delay: 600ms;
    -moz-animation-delay: 600ms;
    -ms-animation-delay: 600ms;
    -o-animation-delay: 600ms;
    animation-delay: 600ms; }
  body.finished .social-sharing-links li:nth-child(4) {
    -webkit-animation-delay: 800ms;
    -moz-animation-delay: 800ms;
    -ms-animation-delay: 800ms;
    -o-animation-delay: 800ms;
    animation-delay: 800ms; }
  body.finished .social-sharing-links li:nth-child(5) {
    -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
    animation-delay: 1000ms; }

body.finished .background {
  -webkit-animation-name: slowFadeHalfOpacity;
  -moz-animation-name: slowFadeHalfOpacity;
  -ms-animation-name: slowFadeHalfOpacity;
  -o-animation-name: slowFadeHalfOpacity;
  animation-name: slowFadeHalfOpacity;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -ms-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-duration: 1000ms;
  -moz-animation-duration: 1000ms;
  -ms-animation-duration: 1000ms;
  -o-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

body.finished .background:nth-child(1) {
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
  -ms-animation-delay: 750ms;
  -o-animation-delay: 750ms;
  animation-delay: 750ms; }
body.finished .background:nth-child(2) {
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  -o-animation-delay: 1500ms;
  animation-delay: 1500ms; }
body.finished .background:nth-child(3) {
  -webkit-animation-delay: 2250ms;
  -moz-animation-delay: 2250ms;
  -ms-animation-delay: 2250ms;
  -o-animation-delay: 2250ms;
  animation-delay: 2250ms; }
body.finished .background:nth-child(4) {
  -webkit-animation-delay: 3000ms;
  -moz-animation-delay: 3000ms;
  -ms-animation-delay: 3000ms;
  -o-animation-delay: 3000ms;
  animation-delay: 3000ms; }
body.finished .background:nth-child(5) {
  -webkit-animation-delay: 3750ms;
  -moz-animation-delay: 3750ms;
  -ms-animation-delay: 3750ms;
  -o-animation-delay: 3750ms;
  animation-delay: 3750ms; }
body.finished .background:nth-child(6) {
  -webkit-animation-delay: 4500ms;
  -moz-animation-delay: 4500ms;
  -ms-animation-delay: 4500ms;
  -o-animation-delay: 4500ms;
  animation-delay: 4500ms; }
body.finished .background:nth-child(7) {
  -webkit-animation-delay: 5250ms;
  -moz-animation-delay: 5250ms;
  -ms-animation-delay: 5250ms;
  -o-animation-delay: 5250ms;
  animation-delay: 5250ms; }
body.finished .background:nth-child(8) {
  -webkit-animation-delay: 6000ms;
  -moz-animation-delay: 6000ms;
  -ms-animation-delay: 6000ms;
  -o-animation-delay: 6000ms;
  animation-delay: 6000ms; }
body.finished .background:nth-child(9) {
  -webkit-animation-delay: 6750ms;
  -moz-animation-delay: 6750ms;
  -ms-animation-delay: 6750ms;
  -o-animation-delay: 6750ms;
  animation-delay: 6750ms; }
body.finished .background:nth-child(10) {
  -webkit-animation-delay: 7500ms;
  -moz-animation-delay: 7500ms;
  -ms-animation-delay: 7500ms;
  -o-animation-delay: 7500ms;
  animation-delay: 7500ms; }
body.finished .background:nth-child(11) {
  -webkit-animation-delay: 8250ms;
  -moz-animation-delay: 8250ms;
  -ms-animation-delay: 8250ms;
  -o-animation-delay: 8250ms;
  animation-delay: 8250ms; }
body.finished .background:nth-child(12) {
  -webkit-animation-delay: 9000ms;
  -moz-animation-delay: 9000ms;
  -ms-animation-delay: 9000ms;
  -o-animation-delay: 9000ms;
  animation-delay: 9000ms; }
body.finished .background:nth-child(13) {
  -webkit-animation-delay: 9750ms;
  -moz-animation-delay: 9750ms;
  -ms-animation-delay: 9750ms;
  -o-animation-delay: 9750ms;
  animation-delay: 9750ms; }
body.finished .background:nth-child(14) {
  -webkit-animation-delay: 10500ms;
  -moz-animation-delay: 10500ms;
  -ms-animation-delay: 10500ms;
  -o-animation-delay: 10500ms;
  animation-delay: 10500ms; }
body.finished .background:nth-child(15) {
  -webkit-animation-delay: 11250ms;
  -moz-animation-delay: 11250ms;
  -ms-animation-delay: 11250ms;
  -o-animation-delay: 11250ms;
  animation-delay: 11250ms; }

@media all and (max-width: 600px) {
  .background {
    min-width: auto;
    min-height: 100%; }

  .social-sharing-links {
    left: 50%;
    display: table;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); } }
@-webkit-keyframes slowFadeHalfOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.165; } }
@-moz-keyframes slowFadeHalfOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.165; } }
@-o-keyframes slowFadeHalfOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.165; } }
@keyframes slowFadeHalfOpacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.165; } }
@-webkit-keyframes slowFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes slowFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-o-keyframes slowFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes slowFade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*# sourceMappingURL=style.css.map */
